
body {
  background-color: ghostwhite;
  font-family: sans-serif;
  text-align: center;
  margin: 0;
}


.nav-bar {
  display: flex;
  justify-content: space-around;
  background-color: #e67e22; 
  padding: 15px;
}

.nav-bar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}


.main-container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.lesson-card {
  border: 2px solid #333;
  padding: 20px;
  background-color: white;
  width: 300px;
}

img {
  width: 300px;
  border-radius: 10px;
}

button {
  background-color: #e67e22; 
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #d35400; 
}
